<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwa6FcccTTEG3404kBBlUJJ1_UQngW-d0</string>
	<key>GCM_SENDER_ID</key>
	<string>751586261864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cariCelah</string>
	<key>PROJECT_ID</key>
	<string>caricelahyukk</string>
	<key>STORAGE_BUCKET</key>
	<string>caricelahyukk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751586261864:ios:618a20da94944d1ba274dd</string>
	<key>DATABASE_URL</key>
	<string>https://caricelahyukk-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>